<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding  xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity
				    name="nunit.framework.dll"
				    publicKeyToken="96d09a1eb7f44a77" />
				<bindingRedirect oldVersion="2.4.6.0-2.6.3.13282" newVersion="2.6.3.13283" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>